<div class="toc-box" id="toc_box">
    <h1><i class="fa fa-list"></i> <%- __('catalog') %></h1>
    <a class="title" href="#title"><%- __('title') %></a>
    <%- toc(content, {list_number: false}) %>
</div>