//authorï¼šJerry

/*_tag*/

@mixin tag($fontSize: 1.0rem, $border-width: 1px solid, $display: inline-block, $padding: 2px 10px, $margin: 0 4px 7px 0) {
  a {
    display: $display;
    width: auto;
    height: auto;
    border-radius: 3px;
    letter-spacing: .01em;
    margin: $margin;
    border: $border-width ;
    font-size: $fontSize;
    padding: $padding;
  }
}