<div class="banner fade-in" id="banner" style="background-image: url(<%- theme.banner_thumbs %>);">
  <a href="/"><strong><%- theme.banner_who %></strong>'s blog</a>
  <p class="video" autoplay loop>
   <source data-src="<%- theme.banner_video %>" type="video/mp4">
  </p>
  <h1><%- theme.banner_h1 %></h1>
 </div>