$colors: (
        'success': #4dc657,
        'danger':  #f5311d,
        'primary': #349ef3,
        'purple':  #cf6ae0,
        'base':    #5d686f,
        'warning':  #f5aa0a,
        'light':   #9eabb3,
);

// Highlight code
$highlight: (
        'background': #f6f6f6,
        'font-size':   1.4rem,
        'border':      1px solid,
        'line-height': 1.3em
);

// Highlight colors
// name of colors: http://www.color-blindness.com
$highlight-colors: (
  // Background
        'white':           #fff,
  // General color
        'night-rider':     #333,
        'bondi-blue':      #0086b3,
        'persimmon':       #df5000,
        'asparagus':       #63a35c,
  // Comment
        'pewter':          #969896,
        'cardinal':        #a71d5d,
        'scampi':          #795da3,
        'bahama-blue':     #1d3e81,
        'egyptian-blue':   #183691,
  // Deletion color for .diff file
        'free-speech-red': #bd2c00,
  // Deletion background color for .diff file
        'misty-rose':      #ffecec,
  // Addition color for .diff file
        'limeade':         #55a532,
  // Addition background color for .diff file
        'honeydew':        #eaffea
);